@model PaymentModel


@{
    ViewBag.Title = "Payment";
}
<div class="body-bg-green register-form-div">
    <div id="site-wrapper" class="d-flex flex-column justify-content-center container ">

        <div id="breadbrumbs" class="d-flex justify-content-start container mt-4 mb-2 w-80" aria-label="breadcrumbs">
            <div class="btn-group container p-0" role="group">
                <a asp-controller="UserDashboard" asp-action="UserHome">
                    <button type="button" class="btn btn-sm btn-dark btn-arrow-right text-white-50">HOME</button>
                </a>

                <a asp-controller="UserAccount" asp-action="Payment">
                    <button type="button" class="btn btn-sm btn-arrow-right btn-success text-white">PAYMENT</button>
                </a>
            </div>
        </div>

        @* Payment Start *@
        <div class="card-p mt-p-50 mb-50">
            <div class="card-title mx-auto"> Payment </div>
            <form asp-action="payment" method="post">
                <span id="card-header">Expense Category</span>
                <div class="row row-1">
                    <input type="hidden" asp-for="CategoryId" />
                    <input asp-for="categoryName" readonly="readonly" class="form-control" />
                </div>
                <span id="card-header">Phone Number</span>
                <div class="row row-1">
                    <input asp-for="phoneNumber" class="form-control" />
                </div>
                <div class="row-1">
                    <div class="row row-2"> <span id="card-inner">Your name</span> </div>
                    <div class="row row-2"> <input asp-for="UserName" class="form-control" /> </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row-1">
                            <div class="row row-2"> <span id="card-inner">Details</span> </div>
                            <div class="row row-2"> <textarea class="form-control" rows="4" asp-for="Details"></textarea> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><input readonly="readonly" asp-for="Date" placeholder="Current Date"></div>
                    <div class="col-6"><input asp-for="money" type="number" class="form-control" placeholder="Money"></div>
                </div>
                <button class="btn-b-green d-flex mx-auto"><b>Submit</b></button>
            </form>
        </div>
        @* Payment End *@

    </div>

    @* Details End *@
</div>