@model PaymentModel;


@{
    ViewBag.Title = "Payment";
}
<div class="body-bg-green register-form-div">
    @* Navigation Start*@
    <header>

        <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top  py-0">
            <div class="d-flex justify-content-between mx-2 w-100">

                <div class="d-flex justify-content-start mx-2">
                    <a class="navbar-brand navbar-text" href="/">
                        <img src="/images/body.png" height="30" class="visible-lg-inline-block mr-1" alt="">
                        <span style="vertical-align: middle">Scholarship Monitoring System</span>
                    </a>
                </div>

                <div class="d-flex justify-content-end mx-2">

                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">

                            <li class="nav-item mr-3">
                                <h5>
                                    <a class="nav-link text-success" asp-controller="Profile" asp-action="ProfileDetails">
                                        <i class="fas fa-user mr-1"></i>
                                        @User.Identity.Name
                                    </a>
                                </h5>
                            </li>

                            <li class="nav-item mx-1">
                                <h5><a class="nav-link" asp-controller="UserAccount" asp-action="SignUp">LOGOUT<i class="fas fa-sign-out-alt ml-1"></i></a></h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @* Navigation End*@

    @* Details Start *@
    <div id="site-wrapper" class="d-flex flex-column justify-content-center container ">

        <div id="breadbrumbs" class="d-flex justify-content-start container mt-4 mb-2 w-80" aria-label="breadcrumbs">
            <div class="btn-group container p-0" role="group">
                <a asp-controller="UserDashboard" asp-action="UserHome">
                    <button type="button" class="btn btn-sm btn-dark btn-arrow-right text-white-50">HOME</button>
                </a>

                <a asp-controller="UserAccount" asp-action="Payment">
                    <button type="button" class="btn btn-sm btn-arrow-right btn-success text-white">PAYMENT</button>
                </a>
            </div>
        </div>

        @* Payment Start *@
        <div class="card-p mt-p-50 mb-50">
            <div class="card-title mx-auto"> Settings </div>
            <div class="nav">
                <ul class="mx-auto">
                    <li><a asp-controller="UserAccount" asp-action="ScholarshipAccount">Account</a></li>
                    <li class="active"><a asp-controller="Dashboard" asp-action="Payment">Payment</a></li>
                </ul>
            </div>
            <form>
                <span id="card-header">Saved cards:</span>
                <div class="row row-1">
                    <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /></div>
                    <div class="col-7"> <input type="text" placeholder="**** **** **** 3193"> </div>
                    <div class="col-3 d-flex justify-content-center"> <a href="#">Remove card</a> </div>
                </div>
                <div class="row row-1">
                    <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" /></div>
                    <div class="col-7"> <input type="text" placeholder="**** **** **** 4296"> </div>
                    <div class="col-3 d-flex justify-content-center"> <a href="#">Remove card</a> </div>
                </div> <span id="card-header">Add new card:</span>
                <div class="row-1">
                    <div class="row row-2"> <span id="card-inner">Card holder name</span> </div>
                    <div class="row row-2"> <input type="text" placeholder="Bojan Viner"> </div>
                </div>
                <div class="row three">
                    <div class="col-7">
                        <div class="row-1">
                            <div class="row row-2"> <span id="card-inner">Card number</span> </div>
                            <div class="row row-2"> <input type="text" placeholder="5134-5264-4"> </div>
                        </div>
                    </div>
                    <div class="col-2"> <input type="text" placeholder="Exp. date"> </div>
                    <div class="col-2"> <input type="text" placeholder="CVV"> </div>
                </div> <button class="btn-b-green d-flex mx-auto"><b>Add card</b></button>
            </form>
        </div>
        @* Payment End *@

    </div>

    @* Details End *@
</div>