@model UserMobileChangeModel

@{
    ViewBag.Title = "Change Password";
}

<div class="body-bg-green register-form-div">
    @* Change Password Start *@
    <div id="site-wrapper" class="d-flex flex-column justify-content-center container ">

        <div id="breadbrumbs"
             class="d-flex justify-content-start container mt-5 mb-2 w-md-85 w-lg-90 w-xl-80"
             aria-label="breadcrumbs">
            <div class="btn-group container p-0"
                 role="group">
                <a asp-controller="UserDashboard" asp-action="UserHome">
                    <button type="button" class="btn btn-sm btn-dark btn-arrow-right">HOME</button>
                </a>

                <a asp-controller="UserDashboard" asp-action="UserProfile">
                    <button type="button" class="btn btn-sm btn-arrow-right btn-dark">PROFILE DASH</button>
                </a>
                <a asp-controller="UserAccount" asp-action="UserChangeMobile">
                    <button type="button" class="btn btn-sm btn-arrow-right btn-success">CHANGE MOBILE PHONE</button>
                </a>

            </div>
        </div>

        <div class="align-self-center w-md-80 w-lg-85 w-xl-75">
            <div class="d-lg-flex border-content">

                <div class="d-flex flex-column justify-content-center text-center bg-dark p-lg-4 p-2 w-100">

                    <div class="mb-1 p-lg-5">
                        <img class="img-lg-50 img-fluid-15" src="/images/body.png" alt="">
                    </div>
                    <div class="d-flex flex-column text-white-50">
                        <h2>Scholarship Monitoring System</h2>
                    </div>
                </div>

                <div class="d-flex strip-gv"></div>

                <div class="d-flex flex-column justify-content-center py-4 px-5 w-100">

                    <div class="my-2">
                        <h4 class="mb-0"><strong>CHANGE MOBILE NUMBER</strong></h4>
                        <small class="text-info mt-0">
                            Logged in as
                            <a class="text-info" asp-controller="UserDashboard" asp-action="UserProfileDetails">@User.Identity.Name</a>
                        </small>
                    </div>

                    <form class="my-2" accept-charset="UTF-8" method="POST">

                        <div class="form-group col-lg-12">

                            <h6 class="m-0"><label for="id_email">Old Mobile Number:</label></h6>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pl-2 pr-2"><i class="fas fa-mobile"></i></span>
                                </div>

                                <input asp-for="OldMobilePhone" maxlength="254" class="form-control form-control-sm"
                                       type="text">
                            </div>
                            <span asp-validation-for="OldMobilePhone" class="text-danger"></span><br />

                        </div>

                        <div class="form-group col-lg-12">

                            <h6 class="m-0"><label for="id_email">New Mobile Number:</label></h6>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pl-2 pr-2"><i class="fas fa-mobile"></i></span>
                                </div>

                                <input asp-for="NewMobilePhone" maxlength="254" class="form-control form-control-sm"
                                       id="id_email" type="text">
                            </div>
                            <span asp-validation-for="NewMobilePhone" class="text-danger"></span><br />

                        </div>

                        <div class="d-flex justify-content-end mt-2">
                            <button id="submit" type="submit" class="btn btn-sm btn-green">
                                <i class="fas fa-save mr-2"></i>CHANGE
                            </button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>

    @* Change Password End *@
</div>

