@model UserPasswordChangeModel;

@{
    ViewBag.Title = "Change Password";
}

<div class="body-bg-green register-form-div">
    @* Navigation Start *@
    <header>

        <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top  py-0">
            <div class="d-flex justify-content-between mx-2 w-100">

                <div class="d-flex justify-content-start mx-2">
                    <a class="navbar-brand navbar-text" href="/">
                        <img src="/images/body.png" height="30" class="visible-lg-inline-block mr-1" alt="">
                        <span style="vertical-align: middle">Scholarship Monitoring System</span>
                    </a>
                </div>

                <div class="d-flex justify-content-end mx-2">

                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">

                            <li class="nav-item mr-3">
                                <h5>
                                    <a class="nav-link text-success" asp-controller="UserDashboard" asp-action="UserProfileDetails">
                                        <i class="fas fa-user mr-1"></i>Mahmudul
                                        Hasan Hridoy
                                    </a>
                                </h5>
                            </li>

                            <li class="nav-item mx-1">
                                <h5><a class="nav-link" asp-controller="UserAccount" asp-action="SignUp">LOGOUT<i class="fas fa-sign-out-alt ml-1"></i></a></h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @* Navigation End *@

    @* Change Password Start *@
    <div id="site-wrapper" class="d-flex flex-column justify-content-center container ">

        <div id="breadbrumbs"
             class="d-flex justify-content-start container mt-5 mb-2 w-md-85 w-lg-90 w-xl-80"
             aria-label="breadcrumbs">
            <div class="btn-group container p-0"
                 role="group">
                <a asp-controller="UserDashboard" asp-action="UserHome">
                    <button type="button" class="btn btn-sm btn-dark btn-arrow-right">HOME</button>
                </a>

                <a asp-controller="UserDashboard" asp-action="UserProfile">
                    <button type="button" class="btn btn-sm btn-arrow-right btn-dark">PROFILE DASH</button>
                </a>
                <a asp-controller="UserAccount" asp-action="UserPasswordChange">
                    <button type="button" class="btn btn-sm btn-arrow-right btn-success">CHANGE PASSWORD</button>
                </a>

            </div>
        </div>

        <div class="align-self-center w-md-80 w-lg-85 w-xl-75">
            <div class="d-lg-flex border-content">

                <div class="d-flex flex-column justify-content-center text-center bg-dark p-lg-4 p-2 w-100">

                    <div class="mb-1 p-lg-5">
                        <img class="img-lg-50 img-fluid-15" src="/images/body.png" alt="">
                    </div>
                    <div class="d-flex flex-column text-white-50">
                        <h2>Scholarship Monitoring System</h2>
                    </div>
                </div>

                <div class="d-flex strip-gv"></div>

                <div class="d-flex flex-column justify-content-center py-4 px-5 w-100">

                    <div class="my-2">
                        <h4 class="mb-0"><strong>CHANGE PASSWORD</strong></h4>
                        <small class="text-info mt-0">
                            Logged in as
                            <a class="text-info" asp-controller="UserDashboard" asp-action="UserProfileDetails">Mahmudul Hasan Hridoy</a>
                        </small>
                    </div>

                    <form class="my-2" accept-charset="UTF-8" method="POST">

                        <div class="form-row">

                            <div class="form-group col-lg-12">

                                <h6 class="m-0"><span class="text-danger">*</span><label asp-for="OldPassword">Old password:</label></h6>

                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text pl-2 pr-2"><i class="fas fa-unlock"></i></span>
                                    </div>

                                    <input asp-for="OldPassword" autofocus class="form-control form-control-sm" id="id_old_password">
                                </div>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>

                        </div>

                        <hr class="bg-white" />

                        <div class="form-row">

                            <div class="form-group col-lg-12">

                                <h6 class="m-0"><span class="text-danger">*</span><label asp-for="NewPassword">New password:</label></h6>

                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text pl-2 pr-2"><i class="fas fa-lock"></i></span>
                                    </div>

                                    <input asp-for="NewPassword" class="form-control form-control-sm" id="id_new_password1">

                                </div>

                                <small class="text-secondary"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></small>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-lg-12">

                                <h6 class="m-0"><span class="text-danger">*</span><label asp-for="NewPasswordConfirmation">New password confirmation:</label></h6>

                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text pl-2 pr-2"><i class="fas fa-lock"></i></span>
                                    </div>

                                    <input asp-for="NewPasswordConfirmation" class="form-control form-control-sm" id="id_new_password2">

                                </div>
                            </div>
                            <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-end mt-2">
                            <a asp-controller="Profile" asp-action="Profile">
                                <button id="submit" type="submit" class="btn btn-sm btn-green"><i class="fas fa-save mr-2"></i>CHANGE</button>
                            </a>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>

    @* Change Password End *@
</div>

