@model ScholarshipModel;

@{
    ViewBag.Title = "Application Category";
}

<div class="body-bg-green register-form-div">
    @* Appliaction Category Start *@
    <div id="site-wrapper" class="d-flex flex-column justify-content-center container ">

        <div id="breadbrumbs"
             class="d-flex justify-content-start container mt-5 mb-2 w-80"
             aria-label="breadcrumbs">
            <div class="btn-group container p-0"
                 role="group">
                <a asp-controller="UserDashboard" asp-action="UserHome">
                    <button type="button" class="btn btn-sm btn-dark btn-arrow-right text-white-50">HOME</button>
                </a>

                <a asp-controller="UserDashboard" asp-action="ScholarshipDetails">
                    <button type="button" class="btn btn-sm btn-success btn-arrow-right text-white">SCHOLARSHIP DETAILS</button>
                </a>

            </div>
        </div>

        <div class="d-flex flex-column justify-content-center container w-80">
            <div class="border-content ">

                <div class="text-center bg-dark p-2">
                    <h1 class="text-greenpigment mb-0"><strong>Scholarship Details</strong></h1>
                </div>
                <div class="strip-gh"></div>

                <div class="p-4">

                    <img src="/images/application.png" height="600px" width="auto" class="visible-lg-inline-block mr-1" alt="">
                </div>

                <div class="d-flex justify-content-end mt-2 p-3">
                    <a class="btn btn-sm btn-green" style="font-size: 20px"asp-controller="UserAccount" asp-action="ScholarshipAccount">
                            Accounts
                    </a>
                </div>

            </div>
        </div>


    </div>
    @* Appliaction Category End *@

</div>