@model StudentAccountModel

@{
    ViewBag.Title = "Student Account Details";
}

<div class="body-bg-green register-form-div">


    @*Account Details Start *@
    <div id="site-wrapper" class="d-flex flex-column justify-content-center container ">

        <div id="breadbrumbs" class="d-flex justify-content-start container mt-4 mb-2 w-80" aria-label="breadcrumbs">
            <div class="btn-group container p-0" role="group">
                <a asp-controller="AdminDashboard" asp-action="AdminHome">
                    <button type="button" class="btn btn-sm btn-dark btn-arrow-right text-white">HOME</button>
                </a>

                <a asp-controller="AdminDashboard" asp-action="StudentAccount">
                    <button type="button" class="btn btn-sm btn-arrow-right btn-success text-white">STUDENT'S ACCOUNT</button>
                </a>

            </div>
        </div>

        <div class="d-flex flex-column justify-content-center container w-80">
            <div class="border-content ">

                <div class="d-flex flex-column header-details">
                    <div class="d-flex">
                        <div class="d-flex pt-1 pl-2 pr-2 pb-2">
                            <img class="img-thumbnail float-lg-left header-image p-0"
                                 src="/images/man.png" alt="">
                        </div>
                        <div class="d-flex flex-column pt-1 pl-2 pr-2 pb-2 w-100">
                            <h3 class="text-white-50">
                                @Model.FullName
                                (<a href="/app/profile/2181"># 2181</a>)
                            </h3>
                            <table class="table table-sm table-hover table-borderless header-table table-css">
                                <tbody>

                                    <tr>
                                        <td class="text-darkgray">Email Address:</td>
                                        <td>
                                            @Model.Email
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-darkgray">Profile Type:</td>
                                        <td>Applicant</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="strip-gh"></div>
                </div>

                <div class="d-flex flex-column pt-4 pl-4 pr-4">
                    <div class="d-flex justify-content-between">
                        <h4 class="text-greenpigment font-weight-bold">
                            <i class="fas fa-user-shield mr-2"></i>Personal
                            Details
                        </h4>

                    </div>
                    <table class="table table-sm table-hover border table-css">
                        <tbody>

                            <tr>
                                <td>Mobile Phone #:</td>
                                <th>
                                    @Model.PhoneNumber <a asp-controller="UserAccount" asp-action="UserChangeMobile">
                                        <i class="fas fa-edit ml-2 mr-1"></i>Change
                                    </a>
                                </th>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="d-flex flex-column pt-4 pl-4 pr-4">
                    <div class="d-flex justify-content-between">

                        <h4 class="text-greenpigment font-weight-bold">
                            <i class="fas fa-user-secret mr-2"></i>Scholarship Fund Details
                        </h4>
                    </div>
                    <br />

                </div>

                <table class="table table-sm table-hover border table-css">
                    <tr>
                        <td>Total Amount</td>
                        <th>
                        <th>20000 tk</th>
                        </th>
                    </tr>
                </table>

                <table class="table table-sm table-hover border table-css">
                    <thead></thead>

                    <tbody>

                        <tr>
                            <td>Educational Purpose</td>
                            <th>
                                10000 tk
                            </th>

                        </tr>
                        <tr>

                            <td>Health Purpose</td>
                            <th>
                                4000 tk
                            </th>
                        </tr>

                        <tr>
                            <td>Books</td>
                            <th>
                                2000 tk
                            </th>
                        </tr>
                        <tr>
                            <td>Food</td>
                            <th>
                                4000 tk
                            </th>
                        </tr>
                </table>
            </div>

            <div class="strip-gh mt-4"></div>
            <div class="strip-dh"></div>

        </div>
    </div>

</div>

@* Account Details End *@
</div>
