@model StudentInfoModel

@{
    ViewBag.Title = "Student Information";
}

<div class="body-bg-green register-form-div">
    @* Appliaction Category Start *@
    <div id="site-wrapper" class="d-flex flex-column justify-content-center container ">

        <div id="breadbrumbs"
             class="d-flex justify-content-start container mt-5 mb-2 w-80"
             aria-label="breadcrumbs">
            <div class="btn-group container p-0"
                 role="group">
                <a asp-controller="AdminDashboard" asp-action="AdminHome">
                    <button type="button" class="btn btn-sm btn-dark btn-arrow-right text-white">HOME</button>
                </a>
                <a asp-controller="AdminDashboard" asp-action="StudentInfo">
                    <button type="button" class="btn btn-sm btn-success btn-arrow-right text-white">STUDENT'S INFORMATION</button>
                </a>

            </div>
        </div>

        <div class="d-flex flex-column justify-content-center container w-80">
            <div class="border-content ">
                <div class="text-center bg-dark p-2">
                    <h1 class="text-greenpigment mb-0"><strong>Student's Information</strong></h1>
                </div>
                <div class="strip-gh"></div>

                <div class="container">
                    <h2><strong>Student's Table</strong></h2>
                    </br></br>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email Address</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserInfo)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td><button class="btn btn-primary detail" data-id="@item.Id"
                                                type="button" >Details</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                <div class="d-flex justify-content-end mt-2 p-3">
                    <a asp-controller="AdminDashboard" asp-action="StudentAccount">
                        <button type="submit" class="btn btn-sm btn-green " style="font-size: 20px">
                            <i class="fas fa-save mr-2"></i>Accounts
                        </button>
                    </a>
                </div>

            </div>
        </div>

        <!-- Large modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Student Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="contentArea">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Appliaction Category End *@

</div>

@section Scripts
{
    //data-toggle="modal" data-target=".bd-example-modal-lg"
    <script type="text/javascript">
        $(".detail").click(function (event) {
            console.log("clicked");
            var id = $(this).data("id");
            var modal = $(".bd-example-modal-lg");
            modal.modal('show');
            $.ajax({
                method: "GET",
                url: "StudentDetails?id="+id
            }).done(function (response) {
                $("#contentArea").html(response);
            }).fail(function (xhr, ajaxOptions, thrownError) {
                //console.log(xhr.status);
                //console.log(thrownError);
                alertify.set('notifier', 'position', 'top-right');
                alertify.error('Marks not entered! Please enter mark for this exam!');
            });
        });
    </script>
}